/*
  Include the Bootstrap CSS framework
*/
@import "bootstrap-sprockets";
@import "bootstrap";

/*
  Sass Variables and Mixins
*/

$white:             #fff;
$dark-gray:         #222;
$gray:              #555;
$light_gray:        #777;
$medium-light-gray: #eaeaea;

// Allows a group of CSS rules to be packaged 
// up and used for multiple elements.
@mixin box_sizing {
	// The width and height properties include 
	// the padding and border, but not the margin.
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:         border-box;
}

/*
  Universal Styling
*/

html {
	overflow-y: scroll;
}

body {
	padding-top: 90px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/*
  Typography
*/

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $light_gray;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/*
  Header
*/

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: $white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	&:hover {
		color: $white;
		text-decoration: none;
	}
}

/*
  Footer
*/

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $medium-light-gray;
	color: #117777;
	a {
		color: $gray;
		&:hover {
			color: $dark-gray;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}

/*
  Debugging
*/

.debug_dump {
	// The clear CSS property specifies whether 
	// an element can be next to floating elements 
	// that precede it or must be moved down 
	// (cleared) below them.
	clear: both;
	// The float CSS property specifies that an 
	// element should be taken from the normal flow 
	// and placed along the left or right side of 
	// its container, where text and inline elements 
	// will wrap around it. A floating element is one 
	// where the computed value of float is not none.
	float: left;
	// The width CSS property specifies the width of 
	// the content area of an element. The content 
	// area is inside the padding, border, and margin 
	// of the element.
	width: 100%;
	// The margin-top CSS property of an element sets 
	// the margin space required on the top of an 
	// element. A negative value is also allowed.
	margin-top: 45px;
	// The box-sizing CSS property is used to alter 
	// the default CSS box model used to calculate 
	// widths and heights of elements. It is possible 
	// to use this property to emulate the behavior 
	// of browsers that do not correctly support the 
	// CSS box model specification.
	@include box_sizing;
}

/*
  Sidebar
*/

aside {
	section.user_info {
		margin-top: 20px;
	}
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

.gravatar_edit {
	margin-top: 15px;
}